{
  "bridge": {
    "name": "Transylvania",
    "username": "B8:27:EB:61:FF:83",
    "port": 51826,
    "pin": "666-00-666"
  },
  "platforms": [
    {
      "platform": "WiringPiPlatform",
      "name": "Pi GPIO (WiringPi)",
      "overrideCache": "true",
      "autoExport": "true",
      "gpiopins": [
        {
          "name": "Luz da TV",
          "pin": 2,
          "enabled": "true",
          "mode": "out",
          "pull": "down",
          "inverted": "true",
          "duration": 0,
          "polling": "true"
        },
        {
          "name": "Luz da Mesa",
          "pin": 3,
          "enabled": "true",
          "mode": "out",
          "pull": "down",
          "inverted": "true",
          "duration": 0,
          "polling": "true"
        },
        {
          "name": "Luz da Porta",
          "pin": 4,
          "enabled": "true",
          "mode": "out",
          "pull": "down",
          "inverted": "true",
          "duration": 0,
          "polling": "true"
        }
      ]
    }
  ]
}
